:root {
  --color-primary: #0d6efd;
  --color-primary-dark: #084298;
  --color-background: #f2f4f7;
  --color-form-background: #ffffff;
  --color-text: #2f2f2f;
  --color-border: #e0e0e0;
  --font-family: Arial, sans-serif;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background-color: var(--color-background);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

h1 {
  margin-bottom: 12px;
}

.container {
  border: 18px solid var(--color-border);
  font-family: var(--font-family);
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-form-background);
  padding: 32px;
  gap: 24px;
  margin: auto;
  max-width: 820px;
  border-radius: 6px;
}

form>h2 {
  padding-bottom: 8px;
  border-bottom: 3px solid #9cc2ff;
}

.form-row {
  display: flex;
  gap: 24px;
}

.form-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-field input {
  border: 2px solid #c2c2c2;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
}

textarea {
  padding: 12px;
  min-height: 110px;
  border-radius: 6px;
  border: 2px solid #c2c2c2;
}

.check-list,
.radio-group {
  padding: 18px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  background-color: #fafafa;
}

.radio-options,
.check-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-option,
.check-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-dark);
}

footer {
  padding: 24px;
  text-align: center;
}