/* -------------------------------- */
/* -------- Color Palette --------- */
/* -------------------------------- */

:root {
  --color-text: #ffffff;
  --color-accent-text: #1db954;
  --color-black-bg: #000000;
  --color-grey-bg: #1e1e1e;
}

/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */

/* -------------------------------- */
/* ----------- Spacing ------------ */
/* -------------------------------- */



/* -------------------------------- */
/* ---------- Typography ---------- */
/* -------------------------------- */

figcaption {
  font-weight: bold;
}

p {
  font-size: 0.9rem;
}

/* -------------------------------- */
/* ------------- Body ------------- */
/* -------------------------------- */

body {
  background-color: var(--color-grey-bg);
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: var(--color-accent-text);
  font-size: 1.5rem;
}

main {
  max-width: 1200px;
  display: grid;
  padding: 30px;
  justify-content: center;
  gap: 40px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* -------------------------------- */
/* --------- Header & Nav --------- */
/* -------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black-bg);
  color: var(--color-accent-text);
  padding: 30px;
}

header>figure {
  max-width: 120px;
}

nav {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

nav>a {
  text-decoration: none;
  color: var(--color-text);
}

nav>a:hover {
  color: var(--color-accent-text);
}

/* -------------------------------- */
/* ------- Playlist Section ------- */
/* -------------------------------- */

#playlists-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 15px;
}

.playlist-items {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 4px;
  background-color: var(--color-black-bg);
}

.playlist-items>figure {
  padding: 8px;
}

.playlist-items>figure>img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

/* -------------------------------- */
/* --------- Album Section -------- */
/* -------------------------------- */

#albums-container {
  display: flex;
  gap: 20px;
}

.album-items {
  background-color: var(--color-black-bg);
  padding: 15px;
  border-radius: 8px;
}

.album-items>figure>img {
  width: 165px;
  height: 165px;
  border-radius: 4px;
}

/* -------------------------------- */
/* ------------ Footer ------------ */
/* -------------------------------- */

footer {
  text-align: center;
  padding: 20px;
}

p>a {
  text-decoration: none;
  color: var(--color-accent-text);
}

p>a:hover {
  text-decoration: underline;
}